.container2 {
  display: flex;
  border: 1px solid #fff;
  width: 800px;
}

hr {
  border: 3px solid black;
}

.time-block {
  text-align: right;
  border-radius: 15px;
  border-bottom: 2px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

textarea {
  background: transparent;
  border: none;
  color: #000000;
  border-left: 1px solid black;
  width: 800px;
  height: 40px;
}

.flexGrowx {
  flex-grow: 4;
}

.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  border: none;
  padding: 12px 28px;
  border-left: 1px solid black;
  width: 10%;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.1s ease-in-out;
}
